<!DOCTYPE html>
<html class="no-js" lang="ko">
  <head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>무슨sns</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/vendor.css" />
    <link rel="stylesheet" href="css/main.css" />
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="manifest" href="site.webmanifest" />

    <!-- swiper style -->
    <style>
      swiper-container {
        width: 100%;
        height: 100%;
      }

      swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
  </head>

  <body>
    <!-- preloader
    ================================================== -->
    <div id="preloader">
      <div id="loader" class="dots-fade">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">
      <!-- site header
        ================================================== -->
      <header class="s-header">
        <div class="header__top">
          <div class="header__logo">
            <a class="site-logo" href="index.html">
              <img src="images/logo.svg" alt="Homepage" />
            </a>
          </div>

          <div class="header__search">
            <form
              role="search"
              method="get"
              class="header__search-form"
              action="#"
            >
              <label>
                <span class="hide-content">Search for:</span>
                <input
                  type="search"
                  class="header__search-field"
                  placeholder="Type Keywords"
                  value=""
                  name="s"
                  title="Search for:"
                  autocomplete="off"
                />
              </label>
              <input
                type="submit"
                class="header__search-submit"
                value="Search"
              />
            </form>

            <a href="#0" title="Close Search" class="header__search-close"
              >Close</a
            >
          </div>
          <!-- end header__search -->

          <!-- toggles -->
          <!-- <a href="#0" class="header__search-trigger"></a>
          <a href="#0" class="header__menu-toggle"><span>Menu</span></a> -->
        </div>
        <!-- end header__top -->

        <nav class="header__nav-wrap">
          <ul class="header__nav">
            <li class="current"><a href="index.html" title="">홈</a></li>
            <li><a href="page-about.html" title="">목록으로 보기</a></li>
            <li><a href="styles.html" title="">내 프로필</a></li>
            <li><a href="page-contact.html" title="">문의하기</a></li>
            <li class="has-children">
              <a href="#0" title="">관리자메뉴</a>
              <ul class="sub-menu">
                <li><a href="category.html">신고 목록</a></li>
                <li><a href="category.html">통계</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- end header__nav-wrap -->
      </header>
      <!-- end s-header -->

      <div class="s-content">
        <div class="masonry-wrap">
          <div class="masonry">
            <div class="grid-sizer"></div>

            <article class="masonry__brick entry format-standard animate-this">
              <!-- <div class="entry__thumb"> -->
              <swiper-container class="mySwiper entry__thumb" pagination="true">
                <a href="#" class="entry__thumb-link">
                  <swiper-slide></swiper-slide>
                </a>
                <swiper-slide></swiper-slide>
                <swiper-slide>Slide 3</swiper-slide>
                <swiper-slide>Slide 4</swiper-slide>
                <swiper-slide>Slide 5</swiper-slide>
                <swiper-slide>Slide 6</swiper-slide>
                <swiper-slide>Slide 7</swiper-slide>
                <swiper-slide>Slide 8</swiper-slide>
                <swiper-slide>Slide 9</swiper-slide>
              </swiper-container>
              <!-- </div> -->
              <div class="entry__text">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-standard.html">글제목</a>
                  </h2>
                  <div class="entry__meta">
                    <span class="entry__meta-cat">
                      <a href="category.html">작성일</a>
                    </span>
                  </div>
                </div>
                <div class="entry__excerpt">
                  <p>내용내용내용내용내용 - 현재 div 리스트 갯수만큼 반복</p>
                </div>
              </div>
            </article>
            <!-- end article -->
          </div>
          <!-- end masonry -->
        </div>
        <!-- end masonry-wrap -->

        <div class="row">
          <div class="column large-full">
            <nav class="pgn">
              <ul>
                <li><a class="pgn__prev" href="#0">Prev</a></li>
                <li><a class="pgn__num" href="#0">1</a></li>
                <li><span class="pgn__num current">2</span></li>
                <li><a class="pgn__num" href="#0">3</a></li>
                <li><a class="pgn__num" href="#0">4</a></li>
                <li><a class="pgn__num" href="#0">5</a></li>
                <li><span class="pgn__num dots">…</span></li>
                <li><a class="pgn__num" href="#0">8</a></li>
                <li><a class="pgn__next" href="#0">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- end s-content -->

      <!-- footer
        ================================================== -->
      <footer class="s-footer">
        <div class="row">
          <div class="column large-full footer__content">
            <div class="footer__copyright">
              <span>© Copyright Typerite 2019</span>
              <span
                >Design by
                <a href="https://www.styleshout.com/">StyleShout</a></span
              >
            </div>
          </div>
        </div>

        <div class="go-top">
          <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>
      </footer>
    </div>
    <!-- end s-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  </body>
</html>
