<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	     <!-- site header
        ================================================== -->
      <header class="s-header header" th:fragment="header">
       <div class="header__top">
          <div class="header__logo">
            <a class="site-logo" href="main">
              <img src="images/logo.svg" alt="Homepage" />
            </a>
          </div>

          <div class="header__search">
            <form
              role="search"
              method="get"
              class="header__search-form"
              action="#"
            >
              <label>
                <span class="hide-content">Search for:</span>
                <input
                  type="search"
                  class="header__search-field"
                  placeholder="Type Keywords"
                  value=""
                  name="s"
                  title="Search for:"
                  autocomplete="off"
                />
              </label>
              <input
                type="submit"
                class="header__search-submit"
                value="Search"
              />
            </form>

            <a href="#0" title="Close Search" class="header__search-close"
              >Close</a
            >
          </div>
          <!-- end header__search -->

          <!-- toggles -->
          <!-- <a href="#0" class="header__search-trigger"></a>
          <a href="#0" class="header__menu-toggle"><span>Menu</span></a> -->
        </div>
        <!-- end header__top -->

        <nav class="header__nav-wrap">
          <ul class="header__nav">
            <li class="current"><a href="main" title="">홈</a></li>
            <li><a href="list" title="">목록으로 보기</a></li>
            <li><a href="myProfile" title="">내 프로필</a></li>
            <li><a href="page-contact.html" title="">문의하기</a></li>
            <li class="has-children">
              <a href="#0" title="">관리자메뉴</a>
              <ul class="sub-menu">
                <li><a href="category.html">신고 목록</a></li>
                <li><a href="category.html">통계</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- end header__nav-wrap -->
      </header>
      <!-- end s-header -->
</html>